.hero-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.hero-text {
  flex: 2;
  min-width: 300px;
}

.hero-image {
  flex: 3;
  min-width: 300px;
}

.hero-button {
  cursor: pointer;
  background-color: var(--green);
  color: var(--white);
  font-size: var(--font-large);
  padding: 30px;
  border: none;
  border-radius: 5px;
  margin: 20px auto;
}

.hero-button:hover {
  transform: scale(1.1);
  transition: transform 0.1s ease-in-out;
  text-decoration: underline;
}