.hero-wrapper {
  grid-column: col-start 2 / span 10;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  flex-wrap: wrap-reverse;
}

.hero-text {
  width: 50%;
  min-width: 220px;
}

.hero-image {
  width: 50%;
  min-width: 220px;
}

.hero-button {
  background-color: var(--green);
  color: var(--white);
  font-size: var(--font-large);
  padding: 30px;
  border: none;
  border-radius: 5px;
  margin: 20px auto;
}

.hero-button:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
  text-decoration: underline;
}