:root {
  /* COLOURS */
  --red: #F49AC1;
  --green: #77DD77;
  --blue: #6FB1FC;
  --yellow: #f7e75c;
  --white: #FFFFFF;
  --black: #2B2B2B;

  /* FONT SIZES */
  --font-xlarge: 2.4rem; 
  --font-large: 2rem; 
  --font-medium: 1.6rem; 
  --font-small: 1.2rem; 
  --font-xsmall: 1rem; 
}

html, body {
  margin: 0;
  width: 100%; height: 100%;
  background-color: var(--white);
  color: var(--black);
}

html * {
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

section {
  padding: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
}

h1 {
  font-size: var(--font-xlarge);
}

h2 {
  font-size: var(--font-large);
}

h3 {
  font-size: var(--font-medium);
}

p {
  font-size: var(--font-small);
  margin: var(--font-small) 0;
  line-height: calc(var(--font-small)*1.5);
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.grid-12-col { 
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
}

.grid-auto {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.text-red {
  color: var(--red);
}

.text-green {
  color: var(--green);
}

.text-blue {
  color: var(--blue);
}

.bg-red {
  background-color: var(--red);
}

.bg-green {
  background-color: var(--green);
}

.bg-blue {
  background-color: var(--blue);
}

.underline-red {
  text-decoration: underline;
  text-decoration-color: var(--red);
}

.underline-green {
  text-decoration: underline;
  text-decoration-color: var(--green);
}

.underline-blue {
  text-decoration: underline;
  text-decoration-color: var(--blue);
}