html, body {
  margin: 0;
  width: 100%; height: 100%;
  background-color: var(--white);
  color: var(--black);
}

html * {
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1 {
  font-size: var(--font-xlarge);
}

.container {
  display: grid;
  grid-template-columns: auto repeat(12, [col-start] 80px) auto;
  justify-content: center;
}

@media (max-width: 1000px) {
  .container {
    grid-template-columns: auto repeat(12, [col-start] 1fr) auto;
  }
}
