nav {
  z-index: 2;
  position: relative;
  height: var(--nav-height);
  color: var(--black);
  background-color: var(--white);
  box-shadow: 0px 2px 0px var(--black);
}

.nav-inner-wrapper {
  grid-column: span 6;
  display: flex;
  align-items: center;
  margin: 0;
  background-color: var(--white);
}

.nav-logo {
  color: var(--black);
  font-size: 42px;
  font-weight: bold;
  text-decoration: none;
}

.nav-menu {
  grid-column: col-start 7 / span 6;
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu li a {
  color: inherit;
  text-decoration: none;
  font-size: var(--font-large);
}

@media (max-width: 1000px) {
  .nav-inner-wrapper {
    grid-column: span 12;
    justify-content: space-between;
    padding: 0 20px;
  }

  .mobile-hamburger-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mobile-hamburger {
    cursor: pointer;
  }

  .nav-menu {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: calc(100vh - var(--nav-height));
    bottom: 100%;
    transition: bottom 0.3s ease-in-out;
    flex-direction: column;
    align-items: center;
    background-color: var(--black);
    color: var(--white);
  }

  .nav-menu.open {
    bottom: 0;
  }
  
  .mobile-hamburger .bar {
    pointer-events: none;
    width: 30px;
    height: 3px;
    background-color: var(--black);
    margin: 10px 0;
    transition: transform 0.3s ease-in-out;
  }
  
  .mobile-hamburger.open .bar:first-child {
    transform: rotate(-45deg) translate(-9px, 9px);
  }
  
  .mobile-hamburger.open .bar:nth-child(2) {
    opacity: 0;
  }
  
  .mobile-hamburger.open .bar:last-child {
    transform: rotate(45deg) translate(-9px, -9px);
  }
}