#questions details {
  margin: var(--font-medium) 0;
}

#questions details > summary::marker{
    font-size: var(--font-large);
    font-weight: bolder;
    margin-right: 10px;
}

#questions details > summary { 
  cursor: pointer;
  list-style-type: '👉 🧽';
}

#questions details[open] > summary {
  list-style-type: '👇 🧼';
}

#questions details > summary > h3 {
  margin-left: 10px;
  display: inline;
}