#reviews ul {
  list-style: none;
  padding: 0;
}

.card {
  border: 1px solid var(--red);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  transition: transform 0.1s ease-in-out;
}

.card:nth-child(even):hover {
  transform: rotate(-8deg) scale(1.05);
}

.card:hover {
  transform: rotate(8deg) scale(1.05);
}

.card-text {
  margin: var(--font-small);
}

.card-caption {
  background-color: var(--red);
  color: white;
  font-size: var(--font-xsmall);
  font-weight: bold;
  font-style: italic;
  padding: var(--font-small);
  margin: 0;
  margin-top: auto;
}